body {
  background-color: #c95f5e;
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 25%;
  font-family: sans-serif;
}
article {
  background-color: white;
  color: #c95f5e;
  width: 100%;
  border-radius: 5px;
  padding-top: 5px;
}

.mini-container {
  text-align: center;
  font-size: 20;
}


.bot-zone {
    text-align: center;
    margin-left: 5px;
}
#btn-normal{
  background-color: #7daef6;
  color: white;
  font-size: 20px;
}

#btn-click-event {
  background-color: #c95f5e;
  border-color: #c95f5e;
  color: white;
  padding: 4px;

}

.bot-zone2 {
    text-align: right;
}

a {
  color: #c95f5e;
  margin-right: 5%;
  margin-bottom: 5%;
  display: block;
  position: relative;
}
